:root {
  --gradient: radial-gradient(
    1000px at 50% 15%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(114, 120, 128) 100%
  );
  --primary-color: #31304d;
  --secondary-color: #808084;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: var(--gradient);
  margin-top: 100px !important;
}

.navigation-bar {
  background-color: var(--primary-color);
}

h2 {
  font-size: 48px !important;
}

.main-heading {
  color: var(--primary-color);
  font-size: 96px;
  text-align: center;
}

.personal-description {
  color: var(--secondary-color);
  font-size: 24px;
  margin-top: 0;
  text-align: center;
}

.links-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.links-container a {
  margin: 20px;
}

.contact,
.about {
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  color: var(--primary-color);
  padding: 15px 25px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
}
.contact {
  background: var(--primary-color);
  box-shadow: var(--shadow);
  color: white;
}

.about:hover {
  background-color: var(--primary-color);
  color: white;
}

.about-paragraph {
  margin: 30px 0;
}

.about-paragraph p {
  margin: 10px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.contact-email {
  display: block;
  color: var(--primary-color);
  font-size: 26px;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
}

@media (max-width: 576px) {
  .main-heading {
    font-size: 56px;
  }

  h2 {
    font-size: 28px !important;
  }
  .personal-description {
    font-size: 20px;
  }

  .links-container {
    margin-top: 25px;
  }

  .app-header {
    margin-top: 15px;
  }
}
